body {
  background-color: #84C0DF;
  text-align: center;
  font-family: courier;
}
h1 {
  color: Black;
  font-family: courier;
}
p {
  color: black;
  font-family: courier;
}
img {
  width: 30%;
}